[submodule ".registry"]
	path = .registry
	url = https://github.com/rformassspectrometry/rformassspectrometry.r-universe.dev
	branch = HEAD
[submodule "Chromatograms"]
	path = Chromatograms
	url = https://github.com/rformassspectrometry/Chromatograms
[submodule "CompoundDb"]
	path = CompoundDb
	url = https://github.com/rformassspectrometry/compounddb
[submodule "MetaboAnnotation"]
	path = MetaboAnnotation
	url = https://github.com/rformassspectrometry/metaboannotation
[submodule "MetaboCoreUtils"]
	path = MetaboCoreUtils
	url = https://github.com/rformassspectrometry/metabocoreutils
[submodule "MsBackendMassbank"]
	path = MsBackendMassbank
	url = https://github.com/rformassspectrometry/msbackendmassbank
[submodule "MsBackendMgf"]
	path = MsBackendMgf
	url = https://github.com/rformassspectrometry/msbackendmgf
[submodule "MsBackendMsp"]
	path = MsBackendMsp
	url = https://github.com/rformassspectrometry/msbackendmsp
[submodule "MsBackendSql"]
	path = MsBackendSql
	url = https://github.com/rformassspectrometry/msbackendsql
[submodule "MsBackendTimsTof"]
	path = MsBackendTimsTof
	url = https://github.com/rformassspectrometry/MsBackendTimsTof
[submodule "MsCoreUtils"]
	path = MsCoreUtils
	url = https://github.com/rformassspectrometry/mscoreutils
[submodule "MsDataHub"]
	path = MsDataHub
	url = https://github.com/rformassspectrometry/msdatahub
[submodule "MsExperiment"]
	path = MsExperiment
	url = https://github.com/rformassspectrometry/msexperiment
[submodule "MsFeatures"]
	path = MsFeatures
	url = https://github.com/rformassspectrometry/msfeatures
[submodule "MsIO"]
	path = MsIO
	url = https://github.com/rformassspectrometry/MsIO
[submodule "MsQuantitation"]
	path = MsQuantitation
	url = https://github.com/rformassspectrometry/MsQuantitation
[submodule "PSMatch"]
	path = PSMatch
	url = https://github.com/rformassspectrometry/psmatch
[submodule "ProtGenerics"]
	path = ProtGenerics
	url = https://github.com/rformassspectrometry/protgenerics
[submodule "QFeatures"]
	path = QFeatures
	url = https://github.com/rformassspectrometry/qfeatures
[submodule "RforMassSpectrometry"]
	path = RforMassSpectrometry
	url = https://github.com/rformassspectrometry/RforMassSpectrometry
[submodule "Spectra"]
	path = Spectra
	url = https://github.com/rformassspectrometry/spectra
[submodule "SpectraQL"]
	path = SpectraQL
	url = https://github.com/rformassspectrometry/SpectraQL
[submodule "SpectraVis"]
	path = SpectraVis
	url = https://github.com/rformassspectrometry/SpectraVis
[submodule "SpectriPy"]
	path = SpectriPy
	url = https://github.com/rformassspectrometry/SpectriPy
[submodule "opentimsr"]
	path = opentimsr
	url = https://github.com/michalsta/opentims
	subdir = opentimsr
	registered = false
