[submodule ".registry"]
	path = .registry
	url = https://github.com/rformassspectrometry/universe
	shallow = true
	branch = HEAD
[submodule "Spectra"]
	path = Spectra
	url = https://github.com/rformassspectrometry/Spectra
	shallow = true
	registered = true
[submodule "MsBackendMgf"]
	path = MsBackendMgf
	url = https://github.com/rformassspectrometry/MsBackendMgf
	shallow = true
	registered = true
[submodule "RforMassSpectrometry"]
	path = RforMassSpectrometry
	url = https://github.com/rformassspectrometry/RforMassSpectrometry
	shallow = true
	registered = true
[submodule "QFeatures"]
	path = QFeatures
	url = https://github.com/rformassspectrometry/QFeatures
	shallow = true
	registered = true
[submodule "MsCoreUtils"]
	path = MsCoreUtils
	url = https://github.com/rformassspectrometry/MsCoreUtils
	shallow = true
	registered = true
[submodule "MsExperiment"]
	path = MsExperiment
	url = https://github.com/rformassspectrometry/MsExperiment
	shallow = true
	registered = true
[submodule "MetaboCoreUtils"]
	path = MetaboCoreUtils
	url = https://github.com/RforMassSpectrometry/MetaboCoreUtils
	shallow = true
	registered = false
[submodule "PSM"]
	path = PSM
	url = https://github.com/RforMassSpectrometry/PSM
	shallow = true
	registered = false
